# --- JAVA / SPRING BOOT ---
backend/target/
backend/*.class
backend/*.jar
backend/*.war
backend/.mvn/wrapper/maven-wrapper.properties
backend/**/*.log

# --- ANGULAR / NODE ---
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.editorconfig
frontend/.cache/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# --- IDE & OS ---
.idea/
.vscode/
.DS_Store
Thumbs.db
*.swp

# --- SÉCURITÉ (CRITIQUE) ---
.env
.env.*
*.pem
*.key
secrets/

# --- DOCKER ---
docker-compose.override.yml